.flex {
  display: flex;
}

.flex-space-between {
  @extend .flex;

  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.force-square {
  padding-bottom: 100%
}

.force-rectangle {
  padding-bottom: 50%
}

.width-40 {
  width: 40%;
}

.wh100 {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

.center {
  text-align: center;
}

.m-1 {
  margin: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.relative {
  position: relative;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.pin {
  position: absolute;
  inset: 0;
}